/* Busqueda.css */
.busqueda-container {
  display: flex;
  flex-direction: column; /* Apilamos los elementos verticalmente */
  align-items: center;   /* Centramos horizontalmente */
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column; /* Cambiamos a column */
  width: 100%;
}

.filters {
  width: 250px; /* Ancho fijo para los filtros */
  background-color: #F8F8F8; /* Fondo gris claro para el contenedor de filtros */
  padding: 20px;
  border-radius: 8px;
}
.filter-section {
  background-color: transparent; /* Fondo transparente para las secciones */
  box-shadow: none;
}

.filter-section h3 {
  background-color: #F26522;
  color: white;
  padding: 10px 15px; /* Aumentamos el padding */
  border-radius: 8px 8px 0 0;
  margin: 0; /* Eliminamos el margen inferior */
}


.filter {
  background-color: white; /* Fondo blanco para los filtros */
  color: #333; /* Color de texto oscuro */
  padding: 10px 15px; /* Aumentamos el padding */
  border: none;
  border-bottom: 1px solid #eee; /* Línea divisoria sutil */
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Distribuye el texto y el número */
}

.filter:hover {
  background-color: #e0e0e0;
}

.filter.active {
  background-color: #F26522;
  color: white;
}

/* Estilos para la barra de búsqueda */
.search-bar {
  background-color: white; /* Fondo blanco para la barra de búsqueda */
  color: #333; /* Color de texto oscuro */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 8px;
  padding: 15px;
  width: 60%; 
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  flex-grow: 1; /* El input ocupa el espacio restante */
  padding: 10px;
  border: none; /* Eliminamos el borde del input */
  outline: none; /* Eliminamos el outline al hacer focus */
}

.search-bar .search-icon {
  margin-right: 10px;
  color: #999; /* Color gris claro para el ícono */
}

.search-bar button {
  background-color: #F26522; /* Fondo naranja para el botón */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* Estilos para la lista de resultados */
.results-list {
  width: 100%; /* Ajusta el ancho según tus necesidades */
}

.results-list > div {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.filter:last-child {
  border-bottom: none; /* Elimina el borde inferior del último filtro */
}

.filter.active {
  background-color: #F26522;
  color: white;
}