/* Busqueda.css */
.busqueda-pagina {
  display: flex; /* Distribuye los elementos verticalmente */
  flex-direction: column;
  padding: 20px;
}

.busqueda-container {
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  gap: 20px;
  padding: 20px;
  align-items: center; /* Centra los elementos horizontalmente */
}
  .busqueda-container h2 { /* Título "Lo más trabajado" */
    font-size: 20px;
    margin-bottom: 20px;
  }
  .filter-section {
    display: flex;
    flex-direction: column;
    width: 250px; /* Ancho de la sección de filtros */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .content {
    display: flex;
    flex-direction: row; /* Corregir la dirección del flex */
    gap: 20px;
  }
  
  .filters {
    display: flex;
    flex-direction: column; /* Alinea los filtros verticalmente */
    gap: 10px;
    width: 250px; /* Ancho de los filtros */
  }
  
  .filter-section h3 {
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .filter {
    padding: 10px; /* Aumenta el padding */
    margin-bottom: 10px; /* Espacio entre filtros */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease; /* Transición suave */
  }
  
  .filter:hover {
    background-color: #e0e0e0; /* Color de fondo al pasar el mouse */
  }
  
  .filter.active {
    background-color: #F26522; /* Color de fondo cuando está activo */
    color: white;
  }
  
  .search-bar {
    width: 80%;
    background-color: #F26522;
    color: white;
    padding: 15px;
    border-radius: 8px;
  }
  
  .search-bar input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search-bar button {
    background-color: white;
    color: #F26522;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .results-list {
    flex-grow: 1;
    overflow-y: auto; /* Permitir scroll vertical si es necesario */
  }
  
  .results-list > div { /* Estilo de tarjeta para los resultados */
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  .results-container {
    flex: 1; /* Ocupa el espacio restante */
    overflow-y: auto; /* Agrega scroll vertical si es necesario */
  }
  