/* Busqueda.module.css */
.resultadosContainer {
  /* Estilos específicos para la página Resultados */
  display: flex; /* Apilar elementos verticalmente */
  flex-direction: column; /* Alinear elementos verticalmente */
  align-items: center; /* Centrar horizontalmente */
  margin: 0 auto; /* Centrar el contenedor */
  width: 100%; /* Ancho completo */
}
