.trabajoItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.trabajoImage {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.trabajoInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.trabajoTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.trabajoDescription {
  margin-bottom: 10px;
}

.trabajoActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trabajoRating {
  display: flex;
  align-items: center;
}

.removeButton {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.star {
  color: gold;
  cursor: pointer;
}
