/* Estilos específicos para SearchPage */
.content {
    display: flex;
    flex-direction: row-reverse; /* Coloca los filtros a la derecha */
    gap: 20px;
  }
  
  .search-bar {
    background-color: #F26522;
    color: white;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    box-shadow: none;
    margin-bottom: 0;
    width: 100%;
  }
  
  .search-bar input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 0;
    background-color: #fff;
    color: #333;
  }
  
  .search-bar .search-icon {
    margin-right: 10px;
    color: #fff;
  }
  
  .search-bar button {
    background-color: white;
    color: #F26522;
    padding: 10px 20px;
    border: none;
    border-radius: 0;
    cursor: pointer;
  }
  
  .right-side {
    display: flex;
    flex-direction: column; /* Apilamos "Lo más trabajado" y los filtros verticalmente */
  }
  
  .most-worked {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: left; 
  }
  
  .most-worked h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .most-worked-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .most-worked-label {
    font-weight: bold;
  }
  
  .most-worked-count {
    /* Puedes agregar estilos para el conteo si lo deseas */
  }
  
  .filter-container {
    width: 250px;
    margin-left: 0;
    text-align: center;
  }
  
  .filter-section {
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 0 0 8px 8px; /* Redondeamos solo las esquinas inferiores */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .filter-title {
    font-size: 18px;
    margin-top: 20px; 
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
  }
  