
body {
  margin: 0; /* Elimina el margen predeterminado del body */
}

.header { /* Estilos para la barra superior */
  background-color: #f89100;
  height: 60px;
}

.login-container {
  display: flex;
  flex-direction: column;
  width: 400px; /* Ajusta el ancho según tus necesidades */
  margin: 20px auto; /* Centra horizontalmente y agrega margen superior */
  padding: 30px;
}

.login-container img {
  width: 150px; /* Ajusta el tamaño del logo según tus necesidades */
  height: auto;
  margin-bottom: 20px;
  align-self: flex-start; /* Alinea el logo a la izquierda */
}

.login-container h2 {
  align-self: flex-start; /* Alinea el título a la izquierda */
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  width: 100%; /* Campos de entrada ocupan todo el ancho */
  margin-bottom: 15px;
}


.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.login-container button[type="submit"] {
  width: 100%;
  padding: 14px;
  background-color: #f89100;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.login-container a {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #f89100;
  text-decoration: none;
}
